<!DOCTYPE html>
<html>
<head>
  <title>Web Team J Reddimentary Site</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.cm/css?family=Raleway&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link href="{{ url_for('static', filename='About.css') }}" rel="stylesheet" type="text/css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="home.html">Reddimentary<small>Curated, Searchable Reddit Trends</small></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="home.html">Home<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="about.html">About the data</a>
      <a class="nav-item nav-link" href="dataviz.html">Data visualizations</a>
    </div>
  </div>
</nav>

  <br>
  <br>
  <div class="search-container">
    <form class="form-inline ml-auto mr-auto w-100" method="POST" action="/results">
      <input class="form-control form-control-md ml-25 mr-20 w-75" type="text" placeholder="Search for users, keywords, upvotes and more!"
      aria-label="Search" name="keywords">
      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Advanced search
        </button>
        <div class="dropdown-menu dropdown-menu-right">

          <div class="form-check float-left">
            <input class="form-check-input" type="checkbox" name="edited" id="edited">
            <label class="form-check-label" for="defaultCheck1">
              Edited Only
            </label>
          </div>

          <div class="form-check float-left">
            <input class="form-check-input" type="checkbox" name="gilded" id="gilded">
            <label class="form-check-label" for="defaultCheck1">
              Gilded Only
            </label>
          </div>

          <div class="form-check float-left">
            <input class="form-check-input" type="checkbox" name="controversial" id="controversial">
            <label class="form-check-label" for="defaultCheck1">
              Controversial Only
            </label>
          </div>

          <div class="form-check float-left">
            <input class="form-check-input" type="checkbox" name="goodSentiment" id="good sentiment">
            <label class="form-check-label" for="defaultCheck1">
              Good Sentiment
            </label>
          </div>

          <div class="form-check float-left">
            <input class="form-check-input" type="checkbox" name="badSentiment" id="bad sentiment">
            <label class="form-check-label" for="defaultCheck1">
              Bad Sentiment
            </label>
          </div>

          <br>
          <sm class="float-left">Score Range</sm>
          <br>
          <div class="row float-left">
              <div class="col">
                <input type="text" class="form-control w-75" placeholder="0" name="scoreLow">
              </div>
              <sm class="ml-0 mr-0 pl-0 pr-0">to</sm>
              <div class="col">
                <input type="text" class="form-control w-75" placeholder="0" name="scoreHigh">
              </div>
          </div>


        </div>
      </div>
      <div class="input-group-append mr-auto ml-auto mt-100">
        <button class="btn btn-outline-primary" type="submit">Search</button>
      </div>
    </form>
  </div>
  <br>
  <br>

  <h1>
  	About The Data
  </h1>

 <br>
  <h2>
  	What is this data?
  </h2>
  <p>
  	This data is an assortment of all reddit comments from r/politics from the month of November in 2016. The data came in the form of a json dump with the comments, upvotes/downvotes, guild status, commenter id and date attatched.
  </p>
  <br>
  <h2>Where did we get this data?</h2>
  <p>We sourced our data from the top comment from r/datasets, which we happened upon from searching the term "dataset" into the reddit search bar. We downloaded the json dump from academictorrents.com, but ended up using the one month of data hosted on the following mega link:</p>
	<a href="https://mega.nz/#!ysBWXRqK!yPXLr25PgJi184pbJU3GtnqUY4wG7YvuPpxJjEmnb9A.">
  https://mega.nz/#!ysBWXRqK!yPXLr25PgJi184pbJU3GtnqUY4wG7YvuPpxJjEmnb9A.</a>
  <br>
  <br>
  <p>The magnet link to the full set of data can be found <a href="magnet:xt=urn:btih:7690f71ea949b868080401c749e878f98de34d3d&dn=reddit%5Fdata&tr=http%3A%2F%2Ftracker.pushshift.io%3A6969%2Fannounce&tr=udp%3A%2F%2Ftracker.openbittorrent.com%3A80.">here</a> </p>
  <p>No licensing information was given on this dataset, since it was scraped by an individual, however the author gave explicit permition to use this data for academic use and did not list any restrictions that would limit our use of this data, thus it is our belief that this is a permissable use of the data which is inline with the author specifications. The author that created this data set is reddit user u/Stuck_In_the_Matrix who posted this database in 2015 and updated it in 2017.</p>
  <br>

<h2>Citation and Manipulations</h2>
<p>
	The entire data set contains all publicly available Reddit comments over the history of reddit up through 2015. There are about 1.7 billion comments, however we filtered the data to all the comments in the election month of 2017 due to storage and scope limitations. There are no geographic restrictions on the comments, however we tried to filter all the comments from the r/political subreddit to make our analysis relevant to political discourse. The overview and original post can be found at this link : https://www.reddit.com/r/datasets/comments/3bxlg7/i_have_every_publicly_available_reddit_comment/
  There is no citation provided, but the link above should suffice in terms of tracing the datasets technical documentation. Finally, the data is mostly in its unaltered forms, we only removed certain columns (like the subreddit ID) that were homogenous across all comments or not relevant to our analysis.

</p>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
  </html>
