<!DOCTYPE html>
<html>
<head>
  <title>Web Team J Reddimentary Site</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.cm/css?family=Raleway&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/858dd3015d.js" crossorigin="anonymous"></script>
  <link href="{{ url_for('static', filename='ResultsStyle.css') }}" rel="stylesheet" type="text/css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="home.html">Reddimentary<small>Curated, Searchable Reddit Trends</small></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="home.html">Home<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="about.html">About the data</a>
      <a class="nav-item nav-link" href="dataviz.html">Data visualizations</a>
    </div>
  </div>
</nav>

  <br>
  <br>
  <div class="search-container">
    <form class="form-inline ml-auto mr-auto w-100" method="POST" action="/results">
      <input class="form-control form-control-md ml-25 mr-20 w-75" type="text" placeholder="Search for users, keywords, upvotes and more!"
      aria-label="Search" name="keywords">
      <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Advanced search
        </button>
        <div class="dropdown-menu dropdown-menu-right">

          <div class="form-check float-left">
            <input class="form-check-input" type="checkbox" name="edited" id="edited">
            <label class="form-check-label" for="defaultCheck1">
              Edited Only
            </label>
          </div>

          <div class="form-check float-left">
            <input class="form-check-input" type="checkbox" name="gilded" id="gilded">
            <label class="form-check-label" for="defaultCheck1">
              Gilded Only
            </label>
          </div>

          <div class="form-check float-left">
            <input class="form-check-input" type="checkbox" name="controversial" id="controversial">
            <label class="form-check-label" for="defaultCheck1">
              Controversial Only
            </label>
          </div>

          <div class="form-check float-left">
            <input class="form-check-input" type="checkbox" name="goodSentiment" id="good sentiment">
            <label class="form-check-label" for="defaultCheck1">
              Good Sentiment
            </label>
          </div>

          <div class="form-check float-left">
            <input class="form-check-input" type="checkbox" name="badSentiment" id="bad sentiment">
            <label class="form-check-label" for="defaultCheck1">
              Bad Sentiment
            </label>
          </div>

          <br>
          <sm class="float-left">Score Range</sm>
          <br>
          <div class="row float-left">
              <div class="col">
                <input type="text" class="form-control w-75" placeholder="0" name="scoreLow">
              </div>
              <sm class="ml-0 mr-0 pl-0 pr-0">to</sm>
              <div class="col">
                <input type="text" class="form-control w-75" placeholder="0" name="scoreHigh">
              </div>
          </div>


        </div>
      </div>
      <div class="input-group-append mr-auto ml-auto mt-100">
        <button class="btn btn-outline-primary" type="submit">Search</button>
      </div>
    </form>
  </div>
  <br>
  <br>

  <div class="result-section">
  {%for comment in comments%}
  <div class="card w-75 ml-auto mr-auto">
    <div class="card-header">
      <div class="row">
        u/{{comment.author}}
        <div class="icons float-right">
          <span class="" id = "score">
            {%if comment.score > 0%}
  		      <i class="fas fa-arrow-alt-circle-up"></i>
            {%endif%}
            {%if comment.score < 0%}
  		      <i class="fas fa-arrow-alt-circle-down"></i>
            {%endif%}
  		      <span>{{comment.score}}</span>
          </span>
          <span class="spacer"></span>
  	      <span class="" id = "sentiment">
              {% if comment.sentiment > 0 %}
  		        <i class="far fa-smile"></i>
              {%endif%}
              {% if comment.sentiment < 0 %}
  		        <i class="far fa-frown"></i>
              {%endif%}
  		        <span>{{comment.sentiment}}</span>
          </span>
        </div>
      </div>
    </div>
  <div class="card-body">
    <h5 class="card-title">{{comment.body}}</h5>
    <div class="reddit-link ml-10">
    <a href="https://www.reddit.com/{{comment.linkID}}" id="link" class="btn btn-primary ml-75 float-right">go to post</a>
    </div>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">r/politics</li>
    {% if comment.getEdited() == 'TRUE' %}
    <li class="list-group-item">Edited</li>
    {%endif%}
    {% if comment.guilded == 1 %}
    <li class="list-group-item">Gilded</li>
    {%endif%}
    <li class="list-group-item">{{comment.created_UTC}}</li>
  </ul>
  </div>
  <br>
  <br>
  {%endfor%}
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>
  </html>
